.navbar {
  display: flex;
  justify-content: space-between; /* Empuja logo a la izq y menú a la der */
  align-items: center;          /* Los centra verticalmente */
  padding: 10px 20px;           /* Espaciado a los lados */
  background-color: #000b1d;    /* El color oscuro de tu imagen */
}

.logo{
color:#38bdf8;
font-size:35px;
font-weight:bold;
}

.hamburguesa{
font-size:42px;
color:white;
cursor:pointer;
}

/* oculto */
.menu{
display:none;
position:absolute;
top:80px;
right:30px;
background:#112445;
padding:30px 40px;
border-radius:18px;
box-shadow:0 5px 20px rgba(0,0,0,.4);
z-index:9999;
}

/* abre con JS */
.menu.activo{
display:block; /* antes flex */
}

.menu a{
display:block;
margin:15px 0;
text-decoration:none;
color:white;
font-size:20px;
font-weight:bold;
}

.menu a:hover{
color:#38bdf8;
}

.hero{
padding-top:130px;
}
